.profile__name-holder {
  display: flex;
  justify-content: center;
  align-items: baseline;
  /*border: 1px solid red;*/
}

@media screen and (max-width: 560px) {
  .profile__name-holder {
    max-width: 217px;
  }
}