.profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 900px;
  padding: 36px 0 0;
  margin: 0 auto;
}

@media screen and (max-width: 790px) {
  .profile {
    flex-direction: column;
  }
}